<div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-black py-3">
            <div class="container px-5">
                <img width="50px" src="assets/logo.png" alt="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-1 bg-black fw-medium fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="#hero">Configuracion y precios</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tarjetas2">Vehiculos Disponibles</a></li>
                        <li class="nav-item"><a class="nav-link" href="#wallbox">Wallbox</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Contac ">Contactar</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
  
  
    <section id="hero">
        <div id="titulosdiv">
            <p id="titulo0">¿Te gusta Conducir?</p>
            <h3 id="titulo01">THE NEW</h3>
            <h1 id="titulo1">iX2</h1>
            <h3 id="titulo2">EL PRIMER BMW iX2. 100% ELÉCTRICO</h3>
        </div>
        <div class="botonesinicio">
            <a href="/" class="bn14">Configuracion y Precios</a> 
            <a href="/" class="bn13">Vehiculos Disponibles</a> 
        </div>
    </section>
  
    <section id="tarjetas2">
        <div id="titulotarjet">
  
            <p id="herramientascompra">HERRAMIENTAS DE COMPRA</p>
            <h1 id="encuentrabmw">ENCUENTRA TU BMW.</h1>
        </div>
        <div id="tarjetas">
  
            <div id="vehiculosdiv">
                <img width="150px" src="assets/car-svgrepo-com (2).svg" alt="">
                <p id="tarjetasp">Vehiculos Nuevos Disponibles</p>
                <a href="/" class="bn13">Buscar Vehiculos Ahora</a> 
            </div>
            <div id="contacto">
                <img width="150px" src="assets/search-plus-svgrepo-com.svg" alt="">
                <p id="tarjetasp">Vehiculos Ocasion Disponibles</p>
  
                <a href="/" class="bn13">Buscar Vehiculos Ocasion</a> 
  
            </div>
            <div id="nosetodavia">
                <img width="150px" src="assets/car-battery-svgrepo-com.svg" alt="">
                <p id="tarjetasp">Informacion Vehiculos</p>
  
                <a href="/" class="bn13">Mas Informacion</a> 
            </div>
        </div>
    </section>
  
    <section id="nuevoi5">
        <div id="vamueaver">
  
            <div id="titulosdiv">
                <h3 id="titulo">THE NEW</h3>
                <h1 id="titulo1">i5</h1>
                <h3 id="titulo2">EL PRIMER BMW iX2. 100% TUNEADO</h3>
            </div>
            <div class="botonesinicio">
                <a href="/" class="bn14">Configuracion y Precios</a> 
  
            </div>
        </div>
    </section>
  
  
    <section id="wallbox">
        <div id="imgwox">
            <img width="800px" src="assets/bmw.jpg" alt="">
        </div>
        <div id="promocion">
            <p>ACCESORIOS BMW</p>
            <h2>WALLBOX BMW</h2>
            <p>¡Oferta especial para pedidos realizados entre el 1 de septiembre de 2023 y el 31 de diciembre de 2023, y
                coches matriculados hasta el 31 de diciembre de 2023!</p>
  
            <h2>Beneficios de la oferta:</h2>
            <ul>
                <li>Cargador BMW de regalo o descuento equivalente.</li>
                <li>Instalación incluida.<sup>[1]</sup></li>
                <li>Bono de carga BMW Charging por valor de 575 €.<sup>[2]</sup></li>
            </ul>
  
            <p><em>*Modelos incluidos en la promoción BMW iX, BMW iX1, BMW iX3, BMW i4, BMW i5 y BMW i7.</em></p> <br>
  
           
            
  
            <p> Válida para instalaciones monofásicas en pared. Quedando excluidas las obras de cualquier tipo
                (albañilería, pintura, fontanería,…) así como la realización de rozas o zanjas y el alquiler de material
                especial.</p>
  
            <p> Bono de carga: El saldo del bono de carga BMW Charging es de 575 € para pedidos hasta el 31 de diciembre
                de 2023. Bono activable desde el 15 de octubre de 2023. Desde el momento de su activación el bono de
                carga tiene una validez de un año.</p> <br>
  
                <a href="/" class="bn13">Comprar Wallbox</a> 
  
  
        </div>
  
    </section>
  
  <!-- Realizado con bootstrap -->
    <section id="Contac" class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h1 class="fw-bolder">DESDE BMW NOS PONEMOS EN CONTACTO</h1>
                    <p class="lead fw-normal text-muted mb-0">PRESUPUESTOS / INFORMACION</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                    
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Nombre Completo</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">E-mail</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Numero Telefono</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Mensaje</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Enviar</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-black py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0">DCK &copy; BMW Spain / 2023</div></div>
                <div class="col-auto">
                    <a class="small" href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</div>